<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pupuk</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-light" style="background-color: #c2def2;">
            <a class="navbar-brand" href="<%= url %>">Pupuk</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="<%= url %>">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="<%= url %>pupuk">Pupuk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= url %>bibit">Bibit</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container mt-5 pt-5">
            <h1>Pupuk</h1>
            <a href="<%= url + 'pupuk/add' %>" class="btn btn-info mb-3">Tambah Data Pupuk</a>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr align="center">
                        <th>Nama</th>
                        <th>Jenis</th>
                        <th>Berat</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <% if (pupuks.length> 0) { %>
                        <% pupuks.forEach(function(pupuk) { %>
                            <tr>
                                <td>
                                    <%= pupuk.nama %>
                                </td>
                                <td>
                                    <%= pupuk.jenis %>
                                </td>
                                <td>
                                    <%= pupuk.berat %>
                                </td>
                                <td><a href="<%= url + 'pupuk/edit/' + pupuk.id %>"
                                        class="btn btn-warning btn-sm">Edit</a> <br> <br>
                                    <a href="<%= url + 'pupuk/delete/' + pupuk.id %>" class="btn btn-danger btn-sm"
                                        onclick="return confirm('Yakin di hapus ?')">Delete</a>
                                </td>
                            </tr>
                            <% }); %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="5" class="text-center">No Data</td>
                                    </tr>
                                    <% } %>
                </tbody>
            </table>
        </div>
        <style>
            body,
            html {
                font-family: 'Times New Roman', Times, serif, sans-serif !important;
                height: 100%;
            }
        </style>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>

</html>